
  .swiper {
    height: 100vh; 
    background-color: black;

  }

  .miVideoReel{
    width: 100%;
    height: 100%;
  }

  .boxVideo{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .boxVideoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para interceptar clics */
    pointer-events: auto; /* Esto permite que la capa intercepte los eventos de clic */
  }