.contenedorGeneral-detallePelicula{
  margin-top: 125px;

}
.contenedorGeneral{
  margin-top: 5px;
 
}

.contenedor-flex {
  display: flex;
  background: #141414;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.video {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #000;
}

.footer-detalle-pelicula{
    
    margin-top: auto;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    margin-bottom: -10px;
 

}

@media(min-width:800px){
  .contenedorGeneral-detallePelicula{
    margin-top: 200px;
  }
  
}