/* Estilo del contenedor principal */
div {
  background: #141414;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 12px;

}

/* Estilo del título */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000;
}

/* Estilo de los botones */
button {
 
  color: rgb(12, 12, 12);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
}


