/* Estilo del contenedor flex */
.contenedor-flex {
  display: flex;
  background: #141414;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  /* overflow-x: scroll */
}

.video {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #000;
}

