.seccion-tarjetaRanking{
    display: flex;
    border-radius: 10px;
    gap: 62px;
    -webkit-overflow-scrolling: touch;
}

.modificaAlturaSwiper{
    background: #15151500 !important;
    width: 100%;
    max-height: 170px;
}