.contenedor-tarjetaRanking {
    display: flex;
    align-items: center;
}

.numero-tarjeta {
    font-size: 37.37px;
    color: #FFBF69;
}

.article-tarjetaPelicula {
    Width: 180.51px;
    Height: 162.91px;
    Left: 7px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    position: relative;
    justify-content: center;
    gap: 5px;

}

.article-tarjetaPelicula img {
    border-radius: 12px;
}


.nombre-pelicula-ranking {
    font-size: 1rem;
}