.contenedorGeneral-btns {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    align-items: center;
}

.contenedor-btns {
    width: 88%;
    display: flex;
    justify-content: space-between;
}

.btn-play {
    background-color: #F6A63B;
    padding: 15px;
    width: 43%;
    max-width: 153px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    color: white;
    font-size:  16px;
    border-bottom: none;
}

.contenedor-descargar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}