.contenedorGeneralD {
  display: flex;
  justify-content: center;
}


.generos-descripcion {
  margin-left: -10px;
  color: #d1cccc;
  display: flex;
}

.contenedor-descripcion {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin-top: 15px;
}

.titulo-descripcion {
  color: white;
}

.texto-descripcion {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
  color: white;
}

.genero {
  padding: 15px 10px 7px 10px;
  list-style: none;
  display: inline-block;
}