/* Estilo del contenedor flex */
.contenedor-flex {
  display: flex;
  background: #141414;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

/* Estilo de la descripción */
.descripcion {

  font-size: 10px;
  text-shadow: 2px 2px 4px #000;
  width: 100%; 
  margin-left: 25px; 
  margin-right: 25px;
}
.genero {
  display: inline-block; 
  margin: 10px;
  align-items: center;
}
.descripcion p {
  text-align:justify;
}
.fecha {
  display: inline-block; 
  margin: 10px;
  align-items: center;
}
.puntaje {
  float: right;
} 