.contenedorGeneral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #c21313;
    /* padding: 05px; */
    /* max-width: 1200px; */
    
  }

  
  /* Estilo del contenedor de tarjetas de actores */
  .contenedor-descripcion {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  