 .contenedor-buscador {
   display: flex;
   align-items: center;
   background: transparent;
   padding: 5px;
   border: 2px solid white;
   border-radius: 15px;
 }

 .iconos {
   display: flex;
   align-items: center;
   padding: 0 10px;
 }

 .icono-lupa,
 .icono-micro {
   width: 20px;
   margin-right: 5px;
 }

 .input-buscador {
   flex: 1;
   border: none;
   padding: 5px;
   outline: none;
   background-color: transparent;
   color: rgb(224, 224, 224);
 }

 */
 /* estilos de resultado */

 .buscador-resultado {

   padding: 20px;
   background-color: transparent;
 }

 .lista-resultado-h2 {
   font-weight: 100;
   font-size: 15px;
   margin: 15px;
   border-bottom: 1px solid rgb(150, 148, 148);
   padding-bottom: 10px;
 }

 .link {
   text-decoration: none;
   color: rgb(228, 223, 223);

 }

 .link:hover {
   text-decoration: underline;

 }

 .link:visited {
   color: #f0c651;
 }