 
.title-estreno {
     
    color: rgba(211, 211, 211, 0.938);
    font-size: 17px;
    text-shadow: 0px 2px 15px rgba(110, 110, 107, 0.514);
    font-weight: 800;
}

.seccion-imgEstreno {
    align-items: unset !important;
    width: 250px;
    height: 210px;
   
}

@media(min-width: 468px) {
    .seccion-imgEstreno {
        align-items: unset !important;
        width:400px;
        height:200px;
    }
}

@media(min-width: 800px) {
    .seccion-imgEstreno {
        align-items: unset !important;
        width:450px;
        height: 320px;
        
    }
    .title-estreno{
        font-size: 20px;
        text-shadow: 0px 2px 15px rgba(110, 110, 107, 0.514);
        font-weight: 800;
    }
}