.section-icono-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    background-color: #151515;
    opacity: .9;

}

.icon-nav {
    width: 24px;
    height: 24px;
}

.icon-home {
    width: 35px;
    height: 35px;
}

.activo {
    color: #D7A500;
}

/* Estilos de navegador Encabezado*/

.lista-nav {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 15px;
    justify-content: center;
    background-color: #151515;
    color: white;
    padding: 5px;
    text-decoration: none;
    opacity: .9;
    border: transparent;
    z-index: 0;

}

.lista-nav-header {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.952);
   
}

.lista-nav-header:hover {
    color: #D7A500;
}

.icon-nav:hover {
    filter: hue-rotate(360deg);

}

@media(max-width:350px) {
    .section-icono-nav {
        padding: 5px 15px 5px 15px;
    }

    .icon-nav {
        width: 20px;
        height: 20px;
    }
}

@media(min-width:800px) {
    .lista-nav {
        gap: 100px;
        justify-content: center;
        padding: 7px;
    }

    .lista-nav-header {
        font-size: 18px;
        font-weight: 600;
      
    }
    .section-icono-nav {
        padding: 5px 30px 5px 30px;
    }
    

}