 .seccion-modal {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 70%;
     max-width: 400px;
     height: 70%;
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background: rgb(31, 30, 30);
     border-radius: 30px;
     box-shadow: 0px 0px 25px 1px rgb(90, 88, 88);


 }

 .close-modal {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 30px;
     height: 30px;
     position: absolute;
     right: 30px;
     top: 30px;
     background-color: transparent;
     color: rgb(252, 207, 62);
     border-radius: 50%;
     box-shadow: 0px 0px 10px 0px rgb(252, 207, 62);
     font-size: 20px;
     border: none;
     cursor: pointer;

 }

 .ReactModal__Overlay {
     background-color: rgba(24, 23, 23, 0.719) !important;
 }

 .textarea-pregunta {
     width: 100%;
     min-height: 80px;
     max-height: 300px;
     resize: none;
 
     border: none;
     font-size: 14px;
     line-height: 1.4;
     overflow-y: scroll;
     border-radius: 10px;
     color: rgb(231, 231, 231);
     background-color: rgba(110, 110, 108, 0);
     box-shadow: 0px 0px 15px 0px rgba(245, 206, 79, 0.295);
     padding: 10px;

 }


 .textarea-pregunta::-webkit-scrollbar {
     display: none;

 }

 .seccion-input {
     display: flex;
     flex-flow: column;
     width: 100%;
     padding: 7%;
     font-size: 8px;
     gap: 20px;
     color: white;

 }

 .seccion-input button {
     width: 80%;

 }

 .seccion-enviar {
     display: flex;
     gap: 20px;
     justify-content: space-between;

 }

 .seccion-enviar button {
     width: 90px;
     text-align: center;
     border-radius: 10px;
     background-color: rgba(245, 206, 79, 0.808);
     border: none;
     color: white;
     box-shadow: 0px 0px 15px 0px rgb(92, 92, 92);
     cursor: pointer;
     padding: 15px;

 }

 .seccion-enviar button:hover {
     background-color: transparent;
     transition: background-color 0.4s
 }

 .seccion-input p {
     width: 100%;
     min-height: 100px;
     height: 100%;
     border-radius: 15px;
     background-color: rgba(194, 193, 191, 0.308);
 }

 @media(min-width:800px) {
     .seccion-input  {
         font-size: 12px;
     }
     .seccion-modal {
        width: 80%;
        max-width: 600px;
        height: 80%;
        padding: 10px;

    }
    .textarea-pregunta {
        width: 100%;
        min-height: 100px;
        max-height: 300px;

        padding: 10px;
   
    }
   

 }