.input-contenedor {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input-label {
    color: rgb(255, 255, 255);
}

.input-input {
    height: 45px;
    width: 100%;
    /* padding: 0px 0px 0px 0px; */
    border: none;
    border-bottom: 1px solid #9f9f9f;
    outline: 0px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 20px;
}

.input-input:hover{
    background-color: transparent;
    border-bottom: 3px solid #F6A63B
}