body {
    background-color: #151515;
    color: rgb(196, 196, 196);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    gap: 15px;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

}

.main {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10%;
    margin: auto;
    font-size: 10px;
    z-index: 0;
    margin-bottom: 5px;
    padding: 5%;
    padding-top: 140px;
  
}

.seccion-peliculas {
    padding: 10px;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.seccion-peliculas-h2 {
    color: rgba(211, 211, 211, 0.938);
    font-size: 17px;
    text-shadow: 0px 2px 15px rgba(110, 110, 107, 0.514);
    font-weight: 800;
}

.seccion-peliculas-popular {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 80px;
}


.seccion-peliculas-estreno h3 {
    font-size: 17px;
    color: rgb(177, 177, 177);
    font-weight: 800;
}

.footer-movil {
 
    margin-top: auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 0;
}

/* seccion de desplizamiento horizontal cartelera */
.seccion-deslizador {
    height: 280px;

}

@media(min-width: 850px) {
    .seccion-peliculas-h2 {
        font-size: 25px;
        font-weight: 800;
    }

    .seccion-peliculas-popular {
        gap: 60px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .footer-movil {
        display: none;
    }

    .main {
        gap: 30px;
        margin-top: 115px;
    }

    .seccion-peliculas {
        gap: 20px;
    }

    .seccion-deslizador {
        height: 330px;
    }

    .seccion-peliculas-h2 {}


}