.contenedorGeneral-reparto {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  align-items: center;
}

.contenedor-reparto {
  width: 88%;
}

.titulo-reparto {
  margin-bottom: 30px;
color: white;
}

