.contenedor {
   display: flex;
  position: relative;
}

.contenedor-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth; 
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth; 
 }

.contenedor-horizontal::-webkit-scrollbar {
  display: none;
}

.item {

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block
}


/* estilos de icono de control */
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #151515;
  opacity: .2;
  z-index: 200;
  cursor: pointer;
}

.control img {
   width: 50%;
 
}
.control-avanzar{
  position: absolute;
  right: 0;
  background-image: linear-gradient(to right, #ffffff00, #000000);


}
.control-retroceder{
  position: absolute;
  left: 0;
  background-image: linear-gradient(to left, #ffffff00, #151515);
  transform: scaleX(-1)
  
}
.control:hover{
  opacity: .6;
  transition: background-color 1s, transform 1s;
 
}