.formIngreso-contenedor {
    overflow: hidden;
    background-color: #0000007e;
    width: 30%;
    justify-content: center;


    display: flex;
    padding: 10px;
    color: rgb(255, 255, 255);

}

.formIngreso-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(248, 213, 56, 0.425);
    padding: 15%;
    /* border-image: linear-gradient(to right, #f0c94a, #000000f6); */
    border-image-slice: 1;
}

.btn-ingresar {
    background-color: #f8c63b;
    color: rgb(243, 243, 243);
    text-shadow: 2px 2px 4px rgba(71, 71, 71, 0.5);
    box-shadow: 0px 2px 20px 1px rgb(19, 18, 18);
    cursor: pointer;
    padding: 8px;
    margin-top: 22px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-ingresar:hover {
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.35);
    background:transparent;
    border: 2px solid #f8c63b;
    box-shadow: 0px 0px 20px 1px rgb(88, 88, 88);
}

@media (max-width: 925px) {

    .formIngreso-contenedor {

        width: 70%;


    } 


    .formIngreso-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15%;
    }


}