.formIngreso-contenedor {
    overflow: hidden;
    background-color: #3A3F4E;
    width: 89%;
    max-width: 711px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.formIngreso-form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
    padding: 35px 30px;
    
}

.btn-ingresar {
    background-color: #F6A63B;
    color: white;
    padding: 8px;
    margin-top: 22px;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-ingresar:hover{
    box-shadow: -3px 6px 9px rgba(0, 0, 0, 0.35);
}

@media (max-width: 925px) {
.formIngreso-form{
    display: flex;
    flex-direction: column;
}

}