.article-pelicula {

    width: 140px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    position: relative;
    gap: 5px;
 
 
    &:hover {
        width: 150px;
        height: 285px;
        transition: all .5s ease
      }
  

}



.section-pelicula{
    display: flex;
    flex-flow: column;
    align-items: start;
    margin: 0px 10px 0px 10px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
 
}
.section-pelicula h3{
    color: rgb(116, 112, 112);
}
.titulo-pelicula,
.estreno-pelicula {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;

}

.portada-pelicula {
    object-fit: cover;


}

.estreno-pelicula {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;

}

 
.seccion-favorito {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #D7A500;
    width: 35px;
    height: 35px;
    display: flex;
    border-radius:50%;
    padding: 5px;
    background-color: #151515;
    opacity: .7;
}

.linkRouter{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.seccion-portada-pelicula{
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-flow: column;
    gap: 10px;
    
}
.img-pelicula{
    width: 100%;
    object-fit: cover;

}

@media(min-width: 468px) {
    .seccion-peliculas-h2 {
        font-size: 17px;
    }

}
   
@media(min-width: 950px) {
    
    .article-pelicula {
        width: 170px;
        height: 300px;
      
        &:hover {
            width: 180px;
            height: 320px;
            transition: all .5s ease
          }

    }
    
}