.article-pelicula {

    width: 150px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    position: relative;
    gap: 5px;

}

.section-pelicula{

    display: flex;
    flex-flow: column;
    align-items: start;
    margin: 0px 10px 0px 10px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.section-pelicula h3{
    color: rgb(116, 112, 112);
}
.titulo-pelicula,
.estreno-pelicula {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;

}

.portada-pelicula {
    object-fit: cover;


}

.estreno-pelicula {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;

}

.icon {
 
 }

.seccion-favorito {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #D7A500;
    width: 35px;
    height: 35px;
    display: flex;
    border-radius:50%;
    padding: 5px;
    background-color: #151515;
    opacity: .7;
}